* {
  font-family: $font-family;
}

body {
  background: #f5f5f5;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

input {
  font-size: $font-normal;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.active {
  border-top: 5px solid rgb(61, 153, 252);
  color: rgb(61, 153, 252);
  font-weight: 900;
}

::placeholder {
  font-weight: 700;
  color: gray;
}

.hide {
  display: none;
}

.task-completed {
  opacity: 0.4;
  text-decoration: line-through;
}

/* custom checkbox */

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin-left: 10px;
  color: #333;
  width: 22px;
  height: 22px;
  border: 2px solid #737373;
  transform: translateY(5px);
  cursor: pointer;
  padding: 2px;
}

input[type="checkbox"] {
  border-radius: 50%;
}

input[type="checkbox"]::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 14px 14px rgb(61, 153, 252);
  border-color: rgb(61, 153, 252);
}

input[type="checkbox"]::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  border-color: rgb(61, 153, 252);
}
